{% extends 'layout.twig' %}

{% block body %}
  <p>Hi {{ user.displayName }}!</p>
  <p>
    <b>{{ client.name }}</b> is requesting access to <b>{{ scope | join(', ') }}</b> to your account.
  </p>
  <p>
    Do you approve?
  </p>
  <form action="/decision" method="POST">
    <input name="transaction_id" type="hidden" value="{{ transactionID | e('html_attr') }}">
    <input name="scope" type="hidden" value="{{ scope | join(' ') }}">
    <div>
      <input type="submit" value="Allow" name="allow">
      <input type="submit" value="Deny" name="cancel">
    </div>
  </form>
{% endblock %}
