{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}, {% if user %}{{user.displayName}}{% else %}friend{% endif %}!</p>
  {% if user %}
  <a href="/me">Profile</a> <a href="/logout">Logout</a>
  {% else %}
  <a href="/login">Login</a>
  <a href="/register">Register</a>
  {% endif %}
{% endblock %}
