{% extends 'layout.twig' %}

{% block body %}
  <h1>Login</h1>

  <form method="POST" action="/login">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="Log In">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
  </form>

  <a href="/auth/google">Login with Google</a> <a href="/auth/github">Login with GitHub</a> or <a href="/register">Signup</a>
{% endblock %}
