{% extends 'layout.twig' %}

{% block body %}
  <h1>Profile</h1>
  <dl>
    <dt>Id</dt><dd>{{ user.id }}</dd>
    <dt>Email</dt><dd>{{ user.email }}</dd>
    <dt>Display Name</dt><dd>{{ user.displayName }}</dd>
    <dt>First Name</dt><dd>{{ user.givenName }}</dd>
    <dt>Last Name</dt><dd>{{ user.familyName }}</dd>
    <dt>Google ID</dt><dd>{{ user.googleId }}</dd>
    <dt>GitHub ID</dt><dd>{{ user.githubId }}</dd>
  </dl>

  <a href="/">Back to home</a>
{% endblock %}