{% extends 'layout.twig' %}

{% block body %}
  <h1>Registration</h1>
  {% for error in errors %}
    - {{ error.msg }}<br>
  {% endfor %}
  <form method="POST" action="/register">
    <p>
      <input type="text" name="email" placeholder="Email">
    </p>
    <p>
      <input type="text" name="display_name" placeholder="Display name">
    </p>
    <p>
      <input type="password" name="password" placeholder="Password">
    </p>
    <p>
      <input type="password" name="password_confirm" placeholder="Confirm your password">
    </p>
    <p>
      <input type="submit" value="Register">
    </p>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  </form>

  <p>
    <a href="/login">Back to login</a>
  </p>
{% endblock %}
